<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }} &middot; {{ site.data.package.description }}
      {% endif %}
    </title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="{{ '/favicon.ico' | url }}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/static/css/docs.min.css' | url }}">
    <link rel="canonical" href="{{ site.host }}{{ site.baseurl }}{{ page.url | slug }}">
  </head>

  <body class="docs">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class="container">
        <a class="navbar-brand" href="{{ '/index' | url }}">Athena Framework</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-text">Menu</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <nav class="navbar-nav ml-auto mb-2 mb-lg-0">
            <a class="nav-link {% if page.layout == 'docs' %}active{% endif %}" href="{{ '/getting-started/quick-start' | url }}">
              Documentation
            </a>
            <a class="nav-link {% if page.group == 'about' %}active{% endif %}" href="{{ '/about' | url }}">
              About
            </a>
            <a class="nav-link {% if page.group == 'migration' %}active{% endif %}" href="{{ '/migration' | url }}">
              Migration
            </a>
          </nav>
          <form class="afd-search form-inline ml-lg-4">
            <label for="afd-search-input" class="sr-only">Search the Athena Framework documentation</label>
            <input type="search" class="form-control form-control-search" id="afd-search-input" placeholder="Search..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-owns="afd-search-results">
            <div class="dropdown-menu" id="afd-search-results"></div>
          </form>
        </div>
      </div>
    </nav>
